*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #b3c4c7;
    --secondary-color: #a2a395;
    --tertiary-color: #164b6b;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--tertiary-color);
}

/*HEADER STYLES */
header {
    background-size: cover;
}

header h1 {
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}
header nav {
    margin: 7px 0;
    font-size: 16px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: var(--secondary-color);
}


/* HERO STYLES */
.hero {
    background-image: url("../images/hero-bg.png");
    background-position: 50%;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 60px;

}

.hero-quote {
    color:whitesmoke;
    font-size: 20px;
}

/* About Me */

.section-title {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--tertiary-color);
}

.about-me {
    padding: 60px;
}


.my-bio {
    line-height: 1.7;
    color: var(--secondary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;

}

/* My Work */

.work {
    padding: 60px;
}

/* .work-apps {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} */

.work-links {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    font-size: 20px;
    text-align: center;
}
.run-buddy {
    /* width: 50%;
    position: absolute;
    padding-right: 100px; */
    /* flex: 1 20%; */
    /* margin-right: 20px; */
    max-width: 100%;
    height: auto;
    border: 5px solid var(--tertiary-color);
    position: absolute;
}




.primary-border {
    color: var(--tertiary-color);
}